openapi: 3.0.0
info:
  title: The Statista Research-AI API
  contact:
    name: API Support
    email: api@statista.com
  version: 2.8.0
  description: The Statista Research-AI API
tags: []
paths:
  /v1/research-ai/answer:
    get:
      operationId: answer
      parameters:
        - name: research_token
          in: query
          required: true
          description: |-
            The research token to identify the question.
            This token is returned by the `ask` endpoint.
          schema:
            $ref: '#/components/schemas/Api.Research.ResearchToken'
          explode: false
      responses:
        '200':
          description: The request has succeeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Research.Response.Answer'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '401':
          description: Access is unauthorized.
        '403':
          description: Access is forbidden.
        '404':
          description: The server cannot find the requested resource.
  /v1/research-ai/ask:
    post:
      operationId: ask
      parameters: []
      responses:
        '202':
          description: The request has been accepted for processing, but processing has not yet completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api.Research.Response.Answer'
        '400':
          description: The server could not understand the request due to invalid syntax.
        '401':
          description: Access is unauthorized.
        '403':
          description: Access is forbidden.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Api.Research.Request.Ask'
security:
  - ApiKeyAuth: []
components:
  schemas:
    Api.Research.Request.Ask:
      type: object
      required:
        - question
      properties:
        question:
          type: string
          minLength: 1
          description: The research question that needs to be processed.
    Api.Research.ResearchToken:
      type: string
      minLength: 1
    Api.Research.Response.Answer:
      type: object
      required:
        - request
        - researchToken
        - metaInformation
        - state
        - response
        - usage_limits
      properties:
        request:
          $ref: '#/components/schemas/Api.Research.Request.Ask'
        researchToken:
          $ref: '#/components/schemas/Api.Research.ResearchToken'
        metaInformation:
          $ref: '#/components/schemas/Api.Research.Response.MetaInformation'
        state:
          $ref: '#/components/schemas/Api.Research.Response.State'
        response:
          $ref: '#/components/schemas/Api.Research.Response.Response'
        usage_limits:
          type: array
          items:
            $ref: '#/components/schemas/Api.Research.Response.UsageLimit'
    Api.Research.Response.KeyFacts:
      type: object
      required:
        - title
        - type
        - unit
        - value
      properties:
        title:
          type: string
        type:
          type: string
        unit:
          type: string
        value:
          type: string
    Api.Research.Response.Locale:
      type: string
      enum:
        - german
        - english
        - french
        - spanish
    Api.Research.Response.MetaInformation:
      type: object
      required:
        - answeredAt
        - chainVersion
        - isResearchOwner
        - requestedAt
      properties:
        answeredAt:
          type: string
          format: date-time
          nullable: true
        chainVersion:
          type: string
          nullable: true
        isResearchOwner:
          type: boolean
        requestedAt:
          type: string
          format: date-time
    Api.Research.Response.Response:
      type: object
      required:
        - answer
        - errorMessage
        - keyFacts
        - sources
        - title
      properties:
        answer:
          type: string
          nullable: true
        errorMessage:
          type: string
          nullable: true
        keyFacts:
          type: array
          items:
            $ref: '#/components/schemas/Api.Research.Response.KeyFacts'
          nullable: true
        sources:
          type: array
          items:
            $ref: '#/components/schemas/Api.Research.Response.Source'
        title:
          type: string
    Api.Research.Response.Source:
      type: object
      required:
        - contentId
        - contentType
        - displayTypeId
        - isCharged
        - locale
        - releasedAt
        - source
        - text
        - title
        - updatedAt
        - url
      properties:
        contentId:
          type: string
        contentType:
          type: string
        displayTypeId:
          type: integer
          format: uint32
        graphicName:
          type: string
        isCharged:
          type: boolean
        locale:
          $ref: '#/components/schemas/Api.Research.Response.Locale'
        parentId:
          type: string
        releasedAt:
          type: string
          format: date-time
        source:
          type: string
        statisticType:
          type: integer
          format: uint16
        surveyPeriod:
          type: string
        text:
          type: string
        title:
          type: string
        titleShort:
          type: string
        updatedAt:
          type: string
          format: date-time
        url:
          type: string
          format: uri
    Api.Research.Response.State:
      type: object
      required:
        - status
        - isBlockedContent
        - isError
        - isHidden
        - isLimitReached
        - isPublic
        - limitsReached
        - qualityScore
      properties:
        status:
          $ref: '#/components/schemas/Api.Research.Response.Status'
        isBlockedContent:
          type: boolean
        isError:
          type: boolean
        isHidden:
          type: boolean
        isLimitReached:
          type: boolean
        isPublic:
          type: boolean
        limitsReached:
          type: array
          items:
            type: string
        qualityScore:
          type: number
          format: double
          nullable: true
    Api.Research.Response.Status:
      type: string
      enum:
        - requested
        - done
        - content_retrieved
        - initialized
        - moderated
        - content_compressed
        - answer_generated
        - title_generated
        - answer_rated
        - key_facts_generated
    Api.Research.Response.UsageLimit:
      type: object
      required:
        - limit
        - limitation_period
        - usage
      properties:
        limit:
          type: integer
          format: int32
          nullable: true
        limitation_period:
          type: string
        usage:
          type: integer
          format: int32
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
servers:
  - url: https://api.statista.ai/
    description: Single Server endpoint
    variables: {}
